﻿@model IEnumerable<ProjetoReformulado.Models.ItemModel>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th id="ações"> Ações</th>
        </tr>
    </thead>
    <tbody>
    @{
        if (Model != null)
        {
          foreach (var item in Model)
          {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td id="opções">
                    @Html.ActionLink("Editar", "AlterarItem", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Remover", "RemoverItem", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
          }
        }
    }
    </tbody>
</table>
