﻿@{
    ViewBag.Title = "Início";
}
<center>
    <h2 class="Início">
        <span id="lista">TO DO LIST</span>
    </h2>
</center>

<br />

<br />

<div id="AdicionarItem">
    @Html.ActionLink("Novo Item", "InserirItem", "Item")
</div>

<br />

<br />

<center>
        <h3>
            <span id="Itens">Lista de Itens</span>
        </h3>
</center>

<br />

<p>
    @Html.Partial("_ListarTodos")
</p>




