﻿@model ProjetoReformulado.Models.ItemModel

@{
    ViewBag.Title = "RemoverItem";
}

<h2>Remover um Item</h2>

<br />

<h3>Tem certeza que deseja remover esse item?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn btn-success" />
        </div>
    }
</div>

<br />

<div>
    @Html.ActionLink("Voltar", "Início")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}